{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<h1 class="align-center">Login in system</h1>

<form method="post">
	{% csrf_token %}
	<div class="form__block sevenpercent"><label class="form-label" for="{{ form.username.id_for_label }}">{{form.username.label}}: </label>{{ form.username }}</div>
	<div class="form__block sevenpercent"><label class="form-label" for="{{ form.password.id_for_label }}">{{form.password.label}}: </label>{{ form.password }}</div>
	<div class="form__block-submit"><input type="submit" value="Login"></div>
</form>

<p class="align-center">If you don't have an account 	&#8212;<a href="{% url 'register' %}"> Register</a></p>
{% endblock content %}